
/* ================== Mobile only styling ================== */
@media (max-width: 800px) {
    /* Vertical nav */
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        width: 100%;
        text-align: center;
    }

    /* Reduce padding and spacing */
    article,
    section,
    aside {
        padding: 10px;
    }

    header,
    footer {
        padding: 12px;
    }

    #navToggle {
        padding: 6px;
        width: 100%;
    }
}